html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: #000;
}

.as-link {
  cursor: pointer;
}
.as-link:hover {
  background-color: #fafafa;
  color: #3273dc;
}

.pointer {
  cursor: pointer;
}
.white {
  color: white;
}

.flex {
  display: flex;
}
.italic {
  font-style: italic;
}
.text_center {
  text-align: center !important;
}
.text_right {
  text-align: right !important;
}
.space-right {
  margin-right: 1em !important;
}
.space-left {
  margin-left: 1em !important;
}
.space-top {
  margin-top: 1em !important;
}
.space-bottom {
  margin-bottom: 1em !important;
}
.more-space-bottom {
  margin-bottom: 3em !important;
}
