.Nav {
  position: fixed !important;
  width: 100%;
  top: 0;
  height: 52px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.Brand {
  font-weight: 900;
  font-family: "Caveat", cursive;
}

.Brand a {
  display: flex;
  align-items: center;
}
.BrandTitle {
  font-size: 2.6rem;
  color: #374256;
  margin-left: 0px;
}
.NavbarMenu {
  background-color: white;
}
.NavbarMenu a {
  background-color: white !important;
}
.NavbarLink {
  color: #3b3b3b !important;
  background-color: white !important;
}
.NavbarLink:hover {
  color: #3b3b3b !important;
  background-color: white !important;
}
.NavbarLink:hover::after {
  border-color: #3b3b3b !important;
  background-color: white !important;
}
.NavbarLink::after {
  border-color: #3b3b3b !important;
  background-color: white !important;
}
.NavbarDropdown {
  padding-right: 0.3rem !important;
  border-left: #dadada 1px solid;
}