.datetimepicker-dummy-wrapper {
  border-radius: 4px;
  border-color: #dbdbdb !important;
  color: #363636 !important;
  min-width: 260px;
}
.datetimepicker-dummy-wrapper:hover {
  border-color: #b5b5b5 !important;
}

.datetimepicker.is-datetimepicker-default .datetimepicker-container:before {
  display: none !important;
}
.datetimepicker.is-datetimepicker-default .datetimepicker-container:after {
    border:none !important;
}
