.DeleteIcon {
  background-color: #f5f5f5;
  color: #9e6767 !important;
  cursor: pointer !important;
  pointer-events: auto !important;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #dbdbdb;
  width: 2rem !important;
}

.DeleteIcon:hover {
  background-color: #ededed;
}

.Input {
  max-width: 170px;

  border-radius: 4;
  border-color: #dbdbdb;
  min-width: 170px;
}
.Input:focus {
  border-color: #dbdbdb;
}

.DropDownContent {
  padding-top: 0;
  padding-bottom: 0;
}
