.ColWithId {
  text-align: left;
  max-width: 210;
  word-break: break-all;
}
.ColWithLink {
  color: rgb(67, 67, 145) !important;
  cursor: pointer;
}

.ValueField {
  word-break: break-all;
}
/*
.FixedHeader {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
}

.TableContainer {
  overflow: auto;
  height: 80vh;
}*/
